<!-- Page Content -->
<div class="container partial-container" ng-controller="categoryController" ng-init="getProjects()">
	<ol class="breadcrumb">
		<li class="active"><a href="#categoryList">All Categories</a></li>
		<li><a href="#projectList">All Projects</a></li>
		<li ng-show="userData.role =='user'"><a href="#addProject">Create
				a project</a></li>
		<li ng-show="userData.role =='user'"><a href="#donations">View
				my donations</a></li>
		<li ng-show="userData.role =='user'"><a href="#myProjects">My Projects</a></li>
		<li ng-show="userData.role =='admin'"><a href="#reports">View
				Reports</a></li>
	</ol>

	<div class="row">
		<!-- Blog Entries Column -->
		<div class="center-block" ng-repeat="project in projectList | filter: { status: 'valid' }:true ">
			<h1>{{project.projectName}}</h1>
			<h4>
				<em>by {{project.creatorName}}</em>
			</h4>
			<p><i class="fa fa-clock-o"></i> Posted on {{project.createdOn | date}}</p>
            <p><i class="fa fa-clock-o"></i> Donate by {{project.deadline | date}}</p>
            <p><i class="fa fa-clock-o"></i> Amount needed <b>{{project.amountRequired | currency}}</b></p>
            <p><i class="fa fa-clock-o"></i> Amount received <b>{{project.amountRecieved | currency}}</b></p>
			<img class="img-responsive img-hover"
				src="http://placehold.it/900x300" alt="">
			<p>{{project.description}}</p>
			<a class="btn btn-primary" href="#project/{{project.id}}" ng-disabled = "project.status == 'invalid'">Read More <i class="fa fa-angle-right"></i></a>
			<a class="btn btn-danger" ng-click="deleteProject(project)" ng-show="userData.role =='admin'">Delete<i class="fa fa-angle-right"></i></a>
			<a class="btn btn-success" ng-show="userData.role == 'admin' && project.status == 'pending'" href="#">Approve<i class="fa fa-angle-right"></i></a>

			<hr>

		</div>
		<div class="center-block" ng-show="userData.role == 'admin'" ng-repeat="project in projectList | filter: { status: 'pending' || 'invalid' } ">
			<h1>{{project.projectName}}</h1>
			<h4>
				<em>by {{project.creatorName}}</em>
			</h4>
			<p>
				<i class="fa fa-clock-o"></i> donate by {{project.deadline}}
				<i class="fa fa-clock-o"></i> Amount needed {{project.amountRequired | currency}}|
				<i class="fa fa-clock-o"></i> Amount received {{project.amountRecieved | currency}}
			</p>
			<img class="img-responsive img-hover"
				src="http://placehold.it/900x300" alt="">
			<p>{{project.description}}</p>
			<a class="btn btn-primary" href="#project/{{project.id}}">Read More <i class="fa fa-angle-right"></i></a>
			<a class="btn btn-danger" ng-show="userData.role =='admin'" ng-click="deleteProject(project)">Delete<i class="fa fa-angle-right"></i></a>
			<a class="btn btn-success" ng-show="userData.role == 'admin' && project.status == 'pending'" ng-click="approveProject(project)">Approve<i class="fa fa-angle-right"></i></a>

			<hr>

		</div>
		
	<h2><center>{{error}}</center></h2>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->